In [4]:
from sqlalchemy import create_engine, text
from tabulate import tabulate

In [3]:
DB_USER = "myuser"
DB_PASS = "mypassword"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "mydb"

In [5]:
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

In [6]:
engine = create_engine(DATABASE_URL)

In [7]:
try:
    with engine.connect() as connection:
        connection.execute(text("DROP TABLE IF EXISTS Customers CASCADE;"))
         
        connection.execute(text("""
            CREATE TABLE Customers (
                CustomerID SERIAL PRIMARY KEY,
                FirstName VARCHAR(255),
                LastName VARCHAR(255),
                Email VARCHAR(255) UNIQUE
            );
        """))
        
        connection.commit()
        print("Table 'Customers' created successfully.")
except Exception as e:
    print("Error creating table:", e)

Table 'Customers' created successfully.

## ALTER
* Modifies the structure of existing database objects.

### Adding Columns

In [ ]:
try:
    with engine.connect() as connection:
        
        connection.execute(text("""
            ALTER TABLE Customers 
            ADD UserName VARCHAR(255) UNIQUE;
        """))
        
        connection.commit()
        
        print("UserName attribute/field added in Customers table.")
except Exception as e:
    print("Error inserting data:", e)

In [11]:
try:
    with engine.connect() as connection:
        
        result = connection.execute(text("""
            SELECT column_name, data_type
            FROM INFORMATION_SCHEMA.COLUMNS
            WHERE table_name = 'customers';  -- Note the lowercase table name
        """))
        for row in result:
            print(row) 
    
except Exception as e:
    print("Error inserting data:", e)

('customerid', 'integer')
('firstname', 'character varying')
('lastname', 'character varying')
('email', 'character varying')
('username', 'character varying')

### Dropping Columns

In [12]:
try:
    with engine.connect() as connection:
        
        connection.execute(text("""
            ALTER TABLE Customers 
            DROP COLUMN UserName;
        """))
        
        connection.commit()
        
        print("UserName attribute/field dropped from Customers table.")
except Exception as e:
    print("Error inserting data:", e)

UserName attribute/field dropped from Customers table.

In [13]:
try:
    with engine.connect() as connection:
        
        result = connection.execute(text("""
            SELECT column_name, data_type
            FROM INFORMATION_SCHEMA.COLUMNS
            WHERE table_name = 'customers';  -- Note the lowercase table name
        """))
        for row in result:
            print(row) 
    
except Exception as e:
    print("Error inserting data:", e)

('customerid', 'integer')
('firstname', 'character varying')
('lastname', 'character varying')
('email', 'character varying')

### Modifying Column Data Types

In [17]:
try:
    with engine.connect() as connection:
        
        connection.execute(text("""
            ALTER TABLE Customers
            ALTER COLUMN FirstName TYPE VARCHAR(100)
        """))
        
        print("FirstName data type modified to VARCHAR(100).")
    
except Exception as e:
    print("Error inserting data:", e)

FirstName data type modified to VARCHAR(100).

In [25]:
try:
    with engine.connect() as connection:
        
        connection.execute(text("""
            INSERT INTO Customers (FirstName, LastName, Email) VALUES
            ('John', 'Doe', 'john.doe@example.com'),
            ('Jane', 'Smith', 'jane.smith@example.com');
        """))
        
        connection.commit()
        
        print("Data inserted into Customers table.")
except Exception as e:
    print("Error inserting data:", e)

Data inserted into Customers table.

In [26]:
try:
    with engine.connect() as connection:
        result = connection.execute(text("SELECT * FROM Customers"))

        rows = result.fetchall()

        column_names = result.keys()

        table = tabulate(rows, headers=column_names, tablefmt="grid")

        print(table)

except Exception as e:
    print("Error querying table:", e)

+--------------+-------------+------------+------------------------+
|   customerid | firstname   | lastname   | email                  |
+==============+=============+============+========================+
|            5 | John        | Doe        | john.doe@example.com   |
+--------------+-------------+------------+------------------------+
|            6 | Jane        | Smith      | jane.smith@example.com |
+--------------+-------------+------------+------------------------+

### TRUNCATE

* Removes all rows from a table (faster than DELETE but cannot be rolled back).

In [27]:
try:
    with engine.connect() as connection:
        
        connection.execute(text("TRUNCATE TABLE Customers;"))
        
        connection.commit()

        print("Removes all rows from a Customers table.")

except Exception as e:
    print("Error querying table:", e)

Removes all rows from a Customers table.

In [28]:
try:
    with engine.connect() as connection:
        result = connection.execute(text("SELECT * FROM Customers"))

        rows = result.fetchall()

        column_names = result.keys()

        table = tabulate(rows, headers=column_names, tablefmt="grid")

        print(table)

except Exception as e:
    print("Error querying table:", e)

+--------------+-------------+------------+---------+
| customerid   | firstname   | lastname   | email   |
+==============+=============+============+=========+
+--------------+-------------+------------+---------+

### DROP

* Deletes database objects.

In [ ]:
try:
    with engine.connect() as connection:
        
        connection.execute(text("DROP TABLE Customers;"))
        
        connection.commit()

        print("Delete Customers table.")

except Exception as e:
    print("Error querying table:", e)