In [1]:
from sqlalchemy import create_engine, text
from tabulate import tabulate

In [2]:
DB_USER = "myuser"
DB_PASS = "mypassword"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "mydb"

In [3]:
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

In [4]:
engine = create_engine(DATABASE_URL)

In [15]:
try:
    with engine.connect() as connection:
        connection.execute(text("DROP TABLE IF EXISTS Customers CASCADE;"))
         
        connection.execute(text("""
            CREATE TABLE Customers (
                CustomerID SERIAL PRIMARY KEY,
                FirstName VARCHAR(255),
                LastName VARCHAR(255),
                Email VARCHAR(255) UNIQUE
            );
        """))
        
        connection.commit()
        print("Table 'Customers' created successfully.")
except Exception as e:
    print("Error creating table:", e)

Table 'Customers' created successfully.

### Adding Columns

In [ ]:
try:
    with engine.connect() as connection:
        
        connection.execute(text("""
            ALTER TABLE Customers 
            ADD UserName VARCHAR(255) UNIQUE;
        """))
        
        connection.commit()
        
        print("UserName attribute/field added in Customers table.")
except Exception as e:
    print("Error inserting data:", e)

In [11]:
try:
    with engine.connect() as connection:
        
        result = connection.execute(text("""
            SELECT column_name, data_type
            FROM INFORMATION_SCHEMA.COLUMNS
            WHERE table_name = 'customers';  -- Note the lowercase table name
        """))
        for row in result:
            print(row) 
    
except Exception as e:
    print("Error inserting data:", e)

('customerid', 'integer')
('firstname', 'character varying')
('lastname', 'character varying')
('email', 'character varying')
('username', 'character varying')

### Dropping Columns

In [12]:
try:
    with engine.connect() as connection:
        
        connection.execute(text("""
            ALTER TABLE Customers 
            DROP COLUMN UserName;
        """))
        
        connection.commit()
        
        print("UserName attribute/field dropped from Customers table.")
except Exception as e:
    print("Error inserting data:", e)

UserName attribute/field dropped from Customers table.

In [13]:
try:
    with engine.connect() as connection:
        
        result = connection.execute(text("""
            SELECT column_name, data_type
            FROM INFORMATION_SCHEMA.COLUMNS
            WHERE table_name = 'customers';  -- Note the lowercase table name
        """))
        for row in result:
            print(row) 
    
except Exception as e:
    print("Error inserting data:", e)

('customerid', 'integer')
('firstname', 'character varying')
('lastname', 'character varying')
('email', 'character varying')

### Modifying Column Data Types

In [17]:
try:
    with engine.connect() as connection:
        
        connection.execute(text("""
            ALTER TABLE Customers
            ALTER COLUMN FirstName TYPE VARCHAR(100)
        """))
        
        print("FirstName data type modified to VARCHAR(100).")
    
except Exception as e:
    print("Error inserting data:", e)

FirstName data type modified to VARCHAR(100).